@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Pronoto per iniziare?</h1>
<p>Inserisci l'anno del tuo Cash Drawer</p>
<input type="text" value="" />
<button>Crea la tua tabella</button>