@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Pronoto per iniziare?</h1>
<p>Inserisci l'anno del tuo Cash Drawer</p>
<input id="anno" type="text" value="" />
<button id="createTable">Crea la tua tabella</button>

<div id="tabella-container"></div>

@section scripts{
    <script src="/js/table.js" asp-append-version="true"></script>
}